@media (max-width: 1024px) {
  .header {
    .container {
      max-width: 960px;
      margin: 0 auto;
      width: 100%;

      .header__content {
        .header__search {
          input {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      max-width: 720px;
      margin: 0 auto;
      width: 100%;

      .header__content {
        ul {
          display: none;
        }

        .header__search {
          .header__menu {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 426px) {
  .header {
    .container {
      max-width: 375px;
      margin: 0 auto;
      width: 100%;

      .header__content {
        .header__search {
          .header__icon2 {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  .header {
    .container {
      max-width: 320px;
      margin: 0 auto;
      width: 100%;

      .header__content {
        h1 {
          font-size: 35px;
        }

        .header__search {
          .header__input {
            display: none;
          }
        }
      }
    }
  }
}
