.apple {
  margin-top: 80px;
  .apple__content {
    width: 100%;

    tr {
      display: grid;
      grid-template-columns: 40px 400px 250px 140px 140px 180px 127px;

      th {
        color: #fff;
        padding: 5px;
        font-size: 18px;
        font-weight: 300;
        font-family: "inter";
        text-align: start;
        border: 1px solid #fff;
      }
    }

    .apple__block {
      margin-top: 20px;

      tr {
        td {
          color: #fff;
          padding: 6px;
          font-size: 16px;
          font-weight: 300;
          font-family: "inter";
          text-align: start;
          border: 1px solid #fff;

          button {
            width: 100%;
            height: 100%;
            background: red;
            color: #fff;
            letter-spacing: 3px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .home__w1 {
    display: none;
    .home__w2 {
      tr {
        display: grid;
        grid-template-columns: 40px repeat(2, 1fr) 40px;

        th {
          color: #fff;
          padding: 5px;
          font-size: 16px;
          font-weight: 300;
          font-family: "inter";
          text-align: start;
          border: 1px solid #fff;
        }
      }
    }

    .home__w3 {
      margin-top: 20px;

      tr {
        display: grid;
        grid-template-columns: 40px repeat(2, 1fr) 40px;

        td {
          color: #fff;
          padding: 3px 5px;
          font-size: 14px;
          font-weight: 300;
          font-family: "inter";
          text-align: start;
          border: 1px solid #fff;
        }
      }
    }
  }
}
